@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.nav-margin{
  margin-top: 80px;
}

.blog:hover{
  scale: 1.01;
  transition: 0.2s ;
}

/* Blog Details */
.body-text{
  font-size: 19px !important;
}

/* create new blog form */
.create {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  margin-bottom: 30px;
}
.create input, .create textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
